* {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  .site-container{
    width: 100%;
  }
  @media (min-width: 1352px) {
  .site-container {
    max-width: 1352px;
    margin: 0 auto;
    border: .1rem solid #dddddd;
  }
  }
}

.hidden {
  display: none;
}
