.calculator{
  display: none;
}

@media (min-width: 1000px) {
  .calculator-section {
    display: block;
    margin: 4rem 0;
    padding: 3rem;
    background-color: $var6;
    h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 3.5rem;
      text-align: center;
      margin-bottom: 3rem;
    }
    .calculator-container {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      width: 70%;
    }

    .calculator-left-side-select {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
      
    .choose-type-product {
        position: relative;
        display: inline-block;
        button {
          background-color: white;
          border: 1px solid $var2;
          padding: 1rem;
          border-radius: .6rem;
          width: 95%;
          margin: 1rem 0;
          display: flex;
          justify-content: space-between;
          color: $var3;

          &:active, &:focus {
            box-shadow: inset 0 0 5px 0 rgba(8, 166, 228, 1);
          }
          span {
            margin-top: .2rem;
            color: $var2;
          }
        }
    }
    
    .choose-type-product-list-of-product{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        border: 1px solid $var4;
        border-radius: .6rem;
        width: 95%;
        z-index: 1;
          i {
            color: black;
            font-size: 1.3rem;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            &:hover {
               background-color: #ddd;
            }
          }
      }  
    .choose-type-product:hover
    .choose-type-product-list-of-product {
        display: block;
      }
    }
  input[type=number] {
      display: block;
      background-color: white;
      border: 1px solid $var2;
      padding: 1rem;
      border-radius: .6rem;
      width: 95%;
      margin: 1rem 0;
      outline: none;
      &:active, &:focus {
      box-shadow:0 0 5px 0 rgba(8, 166, 228, 1);
      }
      &::placeholder {
        color: $var3;
    }
  }
  label {
        font-size: 1.2rem;
        color: $var1;
  } 
  input[type=checkbox] {
        display: inline-block;
        position: relative;
        width: 2rem;
        height: 2rem;
        appearance: none;
        border: 1px solid $var1;
        border-radius: 5px;
        background: white;
        outline: none;
        &:checked::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          background-image: url("../assets/Checkmark.svg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 1.3rem;
          width: 1.3rem;
          transform: translate(-50%, -50%);
          vertical-align: middle;
          margin-right: 1rem;
        }
  }

  .calculator-right-side-calc {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .calc-main-desc{
        width: 95%;
        padding: .7rem;
        background-color: $var5;
        margin: .5rem 0;
        border-radius: .6rem;
        color: white;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);

        .calc-sum {
          font-size: 1.8rem;
          font-weight: bold;
        }
      }

      .sum {
        width: 50%;
        background-color:$var2;
        margin-top: 3rem;
        border-radius: .6rem;
        padding: 1rem;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        span {
          font-size: 1.4rem;
          font-weight: normal;
        }
      }
  }
}
  

