.second-article {
  width: 100%;
  background-color: $var6;
  padding: 3rem;
  &-box {
    border-radius: 20px;
    background-color: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    border-radius: 20px;
    .box-img-computer {
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      position: relative;
      z-index: 1;
      #computer {
        width: 125%;
        margin: 50% 50%;
        transform: translate(-50%, -50%);
      }
      .box-image {
        height: 15rem;
        width: 15rem;
        border-radius: 4.1rem;
        background-color: $var4;
        position: absolute;
        top: -5%;
        right: -15%;
        transform: rotate(45deg);
      }
    }
    .box-img-telephone {
      border-radius: 50%;
      height: 25vh;
      width: 25vh;
      background-color: $var2;
      margin: 2rem 0;
      #telephone {
        height: 25vh;
        width: auto;
        margin-top: 1rem;
      }
    }
    #megaphone {
      background-color: $var5;
      background-image: url("../assets/Trumpet.png");
      background-size: 50%;
      background-position: 50%;
      background-repeat: no-repeat;
      border-radius: .5rem;
      height: 30vh;
      width: 100%;
    }

    .box-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   
      h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
        margin: 2rem 0;
        padding: 2rem;
      }
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        padding: 2rem;
      }
    }
    &:first-of-type {
      padding-top: 5rem;
    }
  }
}

@media (min-width: 720px) and (max-width: 999px) {
  .second-article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    &-box {
      &:last-of-type {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        width: 90vw;
        height: 100vh;
        .box-text {
          background-color: white;
          width: 55%;
          height: 100%;
          border-radius: .6rem;
        }
        #megaphone {
          width: 40%;
          height: 100%;
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .second-article {
    padding: 5rem;
      &-box {
      margin: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 40vh;
      .box-text {
        width: 50%;
        padding: 2rem;
        .box-line {
          height: .4rem;
          width: 70%;
          background-color: $var4;
          margin: 2rem;
        }
      }
      &:first-of-type {
        flex-direction: row-reverse;
        padding: 2rem;
        .box-img-computer{
          margin-top: 2rem;
        }
      }
      &:nth-of-type(2) {
        .box-line {
          background-color: $var2;
        }
      }
      &:last-of-type {
        background-color: transparent;
        justify-content: space-between;
        align-items: stretch;

        .box-text {
          background-color: white;
          width: 55%;
          border-radius: .6rem;
          padding: 2rem;
          .box-line {
            background-color: $var5;
          }
        }

        #megaphone {
          width: 40%;
          height: 100%;
        }
      }
    }
  }
}
